@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: roboto-flex-baseFont;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-flex-baseFont {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "slnt" 0, "wdth" 100, "GRAD" 0, "XOPQ" 96, "XTRA" 468,
    "YOPQ" 79, "YTAS" 750, "YTDE" -203, "YTFI" 738, "YTLC" 514, "YTUC" 712;
}

.header-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: radial-gradient(
    circle,
    rgba(145, 206, 224, 1) 0%,
    rgba(167, 166, 166, 1) 100%
  );
  z-index: 50;
}

.main-heading {
  font-family: "Lobster", sans-serif;
  color: rgb(22, 130, 163);
  font-size: 5vh;
  padding-left: 5px;
}

.heading {
  font-family: "Lobster", sans-serif;
  /* padding: 2px 2px 2px 2px; */
  margin-bottom: 10px;
  font-size: 3vh;
}
.main-text-container {
  padding: 5px 5px 5px 5px;
  /* display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around; */
  /* flex flex-col justify-center; */
}
.backgroundImage {
  background-image: url("../assets/planTrip.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.hamburger {
  display: block;
  position: relative;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  margin-right: 8px;
  margin-left: 8px;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  width: 100%;
  content: "";
  display: block;
  height: 3px;
  background-color: rgb(233, 68, 123);
  margin: 6px 0px;
  transition: 0.4s;
  z-index: 99;
}

User .menu-nav {
  position: fixed;
  width: 20%;
  right: 100%;
  display: block;
  padding-top: 80px;
  z-index: 98;
  background-color: rgba(176, 223, 237, 0.2);
  border-radius: 0.25rem;
  transition: 0.4s;
  z-index: 99;
}

.menu-nav.is-active {
  right: 0;
  z-index: 99;
}

.menu-nav {
  position: fixed;
  width: 20%;
  top: -50%; /* Change this from 'right: 100%;' */
  right: 0;
  display: block;
  padding-top: 10px;
  z-index: 98;
  background-color: rgba(176, 223, 237, 0.5);
  border-radius: 0.25rem;
  transition: 0.4s;
}

.menu-nav.is-active {
  top: 55px;
}

.menu-nav a {
  background-color: rgba(59, 130, 246, 0.5);
  color: #fff;
  font-weight: 700;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
  display: block;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  margin-left: 5%;
  margin-right: 5%;
  z-index: 99;
}
.menu-nav a:hover {
  display: block;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: rgb(145, 206, 224);
}

.activities {
  column-count: 3;
}

.groups {
  column-count: 2;
}

.activity-card {
  display: flex;
  align-items: center;
  border-radius: 25px;
  background-color: rgb(22, 130, 163, 0.5);
  box-shadow: 10px 5px 5px rgba(11, 49, 60, 0.5);
  color: white;
  padding: 24px;
  width: 200px;
  height: 85px;
  font-weight: bold;
  font-size: 150%;
  margin: 5px;
}

.input-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgb(22, 130, 163);
}

.login-heading {
  font-size: 2rem;
  font-family: "Lobster", sans-serif;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-card {
  display: flex;
  border-radius: 25px;
  background-color: rgb(22, 130, 163, 0.5);
  box-shadow: 10px 5px 5px rgba(11, 49, 60, 0.5);
  color: white;
  padding: 24px;
  width: 200px;
  height: 85px;
  font-weight: bold;
  font-size: 125%;
  margin: 5px;
}

.typed-input {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  height: 2.5rem;
  padding: 0 15px;
  box-shadow: 0px 0px 8px rgba(59, 130, 246, 0.5);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  box-shadow: 0px 0px 8px;
  margin: 5px;
  position: relative;
}

#itinerary-grid {
  display: flex;
  flex-wrap: wrap;
}

.trip-tile {
  border: 0.75px solid black;
  border-radius: 5px;
  padding: 20px;
  /* padding-left: 20px;
    padding-bottom: 20px; */
  min-width: 400px;
  margin: 10px;

  /* display: flex;
    flex-direction: column; */
}

.tile-buttons {
  color: blue;
  max-width: 150px;
  display: flex;
  justify-content: space-between;

  :hover {
    text-decoration: underline;
  }
}
.button-style {
  background-color: rgb(22, 130, 163, 0.5);
  color: #fff;
  font-weight: 700;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 2vh 2vh 2vh 2vh;
  border-radius: 0.25rem;
  outline: none;
  transition: background-color 0.3s ease; /* Add transition for smooth color change */
}

.button-style:hover {
  background-color: #e9447b; /* Pink color on hover */
}

#loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#start {
  color: blue;
  text-decoration: underline;
}

#itinerary-details {
  margin-left: 20px;
}

.date {
  font-weight: bold;
  text-decoration: underline;
}

.day-entry {
  margin-left: 10px;
  margin-bottom: 20px;
}

.day-details {
  margin-left: 10px;
}

.time-of-day {
  font-weight: bold;
}

.activity-details {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
input {
  width: 75%;
  text-wrap: wrap;
}
.trip-input-box {
  background-color: rgb(183, 203, 209);
  border-radius: 0.25rem;
}
h1 {
  font-family: lobster-regular;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  padding: 2vh 2vh 2vh 2vh;
  width: 100%;
}

.welcome {
  display: flex;
  align-items: center;
}

#itinerary-details .button-style {
  position: fixed;
  bottom: 0;
  right: 0;
}
